%div.top__page
  %div.top__page__nav
    %h2.top__page__nav__title MY COLLECTION
  %div.top__page__image
    %ul.top__page__genres
      %li.top__page__genre.genre-image-left
        %div.top__page__genre-name.genre-name-left
          %p Hot Toys
      %li.top__page__genre.genre-image-center
        %div.top__page__genre-name.genre-name-center
          %p POP!
      %li.top__page__genre.genre-image-right
        %div.top__page__genre-name.genre-name-right
          %p Others
