%div.top__page
  %img.top__page__image
    %h2.top__page__title My Collection
    %ul.top__page__genres
      %li.top__page__genre
        %img.top__page__genre-image
        %p.top__page__genre-name Hot Toys
      %li.top__page__genre
        %img.top__page__genre-image
        %p.top__page__genre-name POP!
      %li.top__page__genre
        %img.top__page__genre-image
        %p.top__page__genre-name Others
